In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from pybliometrics.scopus import ScopusSearch
from bs4 import BeautifulSoup
import requests, json
from docx import Document
from docx.shared import Inches

# my data

In [26]:
# my data

from my_apikeys import APIKeys
my_names = ["Lee, Jehyun", "Lee, J.", "Lee, J. H.", "Lee, Je Hyun"]

# including reversed name
my_names_reverse = []
for n in my_names:
    n_reverse = " ".join(n.split(", ")[1:-1] + [n.split(", ")[-1] + ","] + [n.split(", ")[0]])
    my_names_reverse.append(n_reverse)

my_names = my_names + my_names_reverse

# including without comma
my_names_nocomma = [n.replace(",", "") for n in my_names]
my_names = my_names + my_names_nocomma

In [3]:
# subscriber (Institute: True. Home: False)
try:
    s_sample = ScopusSearch(f"DOI (10.1021/acsnano.9b08494)").results[0]
    subscriber=True
except:
    subscriber=False

print(f"subscriber={subscriber}")

subscriber=True

In [4]:
df_CV = pd.read_excel("my_CV.xlsx")
df_CV.head()

,DOI,TITLE_Scopus
0,10.1021/acs.jpclett.1c01140,First-Principles-Based Machine-Learning Molecu...
1,10.1038/s41598-021-83315-9,Optimizing machine learning models for granula...
2,10.1038/srep31513,Resonant vortex-core reversal in magnetic nano...
3,10.1063/1.4919836,Temperature effect on vortex-core reversals in...
4,10.1038/srep11370,Resonantly exited precession motion of three-d...

In [5]:
def get_my_data(doi):
    # retrieve data
    s = ScopusSearch(f"DOI ({doi})").results[0]
    
    ### Affiliation
    # Affiliation ID
    afids = np.array(s.afid.split(";"))    
    # Affiliation name
    afnames = np.array(s.affilname.split(";"))
    # Affiliations
    afs = dict(zip(afids, afnames))
    afs_all.update(afs)
    
    ### Author
    # Author names
    author_names = np.array(s.author_names.split(";"))
    # Author ID
    author_ids = np.array(s.author_ids.split(";"))
    # Author Affiliation ID
    author_afids = [a.split("-") for a in np.array(s.author_afids.split(";"))]
    # Authors
    authors = list(zip(author_names, author_ids, [afs[af] if isinstance(af, str) else [afs[af_] for af_ in af] for af in author_afids], author_afids))
    
    try:
        # my data
        name_search = np.array([[author_names == my_name] for my_name in my_names]).sum(axis=0).flatten()
        my_idx = np.where(name_search > 0)[0][0]
        my_data = list(authors[my_idx])
        # coauthor
        coauthor_names = list(np.delete(author_names, my_idx))
        coauthor_ids = list(np.delete(author_ids, my_idx, 0))
        coauthor_data = [coauthor_names, coauthor_ids]        
        return my_data + coauthor_data
    except:
        print(authors)
        pass

In [6]:
afs_all = {}
my_data_all = []

for doi in df_CV["DOI"].values:
    data = get_my_data(doi)
    my_data_all.append(data)

In [7]:
df_my = pd.DataFrame(my_data_all, 
                     columns=["my_name", "my_id", "my_afs", "my_afids", "co_names", "co_ids"])
df_my.to_excel("my_data.xlsx", index=False)
df_my.head()

,my_name,my_id,my_afs,my_afids,co_names,co_ids
0,"Lee, Jehyun",55969873500,[Korea Institute of Energy Research],[60087822],"[Hong, Sung Jun, Chun, Hoje, Kim, Byung Hyun, ...","[57221590144, 57195466596, 55502655900, 572207..."
1,"Lee, Jehyun",55969873500,[Korea Institute of Energy Research],[60087822],"[Park, Hyeon Kyu, Lee, Jae Hyeok, Kim, Sang Koog]","[57216558093, 57206731799, 7601587994]"
2,"Lee, Jehyun",16029235100,"[Seoul National University, Center of Semicond...","[60013682, 111165432]","[Kim, Sang Koog, Yoo, Myoung Woo, Lee, Jae Hye...","[7601587994, 35738330300, 57206731799, 5719974..."
3,"Lee, Jehyun",16029235100,"[Seoul National University, Center of Semicond...","[60013682, 115225850]","[Kim, Bosung, Yoo, Myoung Woo, Kim, Sang Koog]","[56621593100, 35738330300, 7601587994]"
4,"Lee, Jehyun",16029235100,[National Creative Research Initiative Center ...,"[107172817, 115225850]","[Kim, Sang Koog, Yoo, Myoung Woo, Lee, Ha Youn...","[7601587994, 35738330300, 56206010000, 5720673..."

In [8]:
df_my = df_my.explode(["my_afs", "my_afids"]).explode(["co_names", "co_ids"])
df_my.drop_duplicates(inplace=True)
df_my

,my_name,my_id,my_afs,my_afids,co_names,co_ids
0,"Lee, Jehyun",55969873500,Korea Institute of Energy Research,60087822,"Hong, Sung Jun",57221590144
0,"Lee, Jehyun",55969873500,Korea Institute of Energy Research,60087822,"Chun, Hoje",57195466596
0,"Lee, Jehyun",55969873500,Korea Institute of Energy Research,60087822,"Kim, Byung Hyun",55502655900
0,"Lee, Jehyun",55969873500,Korea Institute of Energy Research,60087822,"Seo, Min Ho",57220796436
0,"Lee, Jehyun",55969873500,Korea Institute of Energy Research,60087822,"Kang, Joonhee",56076915900
...,...,...,...,...,...,...
43,"Lee, Je Hyun",16029235100,Korea Institute of Science and Technology,60025960,"Kim, Jang Hee",37106931200
43,"Lee, Je Hyun",16029235100,Korea Institute of Science and Technology,60025960,"Chang, Joonyeon",57203369778
43,"Lee, Je Hyun",16029235100,Korea Institute of Science and Technology,60025960,"Kim, Hi Jung",57191720425
43,"Lee, Je Hyun",16029235100,Korea Institute of Science and Technology,60025960,"Kim, Inyoung",7404144290
43,"Lee, Je Hyun",16029235100,Korea Institute of Science and Technology,60025960,"Park, Yun D.",8081614600

In [9]:
df_my = df_my.groupby(["my_name", "my_id", "my_afs", "my_afids"]).agg(list).reset_index()
df_my

,my_name,my_id,my_afs,my_afids,co_names,co_ids
0,"Jehyun, Lee",15834698800,Seoul National University,60013682,"[Suess, Dieter, Schrefl, Thomas, Kyu, Hwan Oh,...","[7004076065, 7005780657, 6602521869, 35601590600]"
1,"Jehyun, Lee",15834698800,Technische Universität Wien,60018163,"[Suess, Dieter, Schrefl, Thomas, Kyu, Hwan Oh,...","[7004076065, 7005780657, 6602521869, 35601590600]"
2,"Lee, J.",16029235100,Technische Universität Wien,60018163,"[Fiedler, G., Fidler, J., Schrefl, T., Stamps,...","[15829081900, 35601590600, 7005780657, 7004916..."
3,"Lee, J.",24399437900,Technische Universität Wien,60018163,"[Schulze, C., Faustini, M., Schletter, H., Lut...","[35181915100, 57196395997, 36675826300, 350853..."
4,"Lee, J.",7601454858,Seoul National University,60013682,"[Neu, V., Schulze, C., Faustini, M., Makarov, ...","[6701391076, 35181915100, 57196395997, 1264713..."
5,"Lee, J. H.",7601451606,Seoul National University,60013682,"[Jang, S. H., Kim, Y. W., Kim, K. Y.]","[24821314300, 8099600200, 57203256286]"
6,"Lee, J. H.",7601462370,Korea Institute of Science and Technology,60025960,"[Jang, S. H., Kang, T., Kim, K. Y.]","[24821314300, 8953533300, 57203256286]"
7,"Lee, Je Hyun",16029235100,Korea Institute of Science and Technology,60025960,"[Kim, Dal Young, Kim, Jin Soo, Park, Bae Ho, L...","[7409765949, 55881881500, 7402834739, 56524680..."
8,"Lee, Jehyun",16029235100,Center of Semiconductor Research and Development,111165432,"[Kim, Sang Koog, Yoo, Myoung Woo, Lee, Jae Hye...","[7601587994, 35738330300, 57206731799, 5719974..."
9,"Lee, Jehyun",16029235100,Center of Semiconductor Research and Development,115225850,"[Kim, Bosung, Yoo, Myoung Woo, Kim, Sang Koog,...","[56621593100, 35738330300, 7601587994, 5620601..."
10,"Lee, Jehyun",16029235100,National Creative Research Initiative Center f...,107172817,"[Kim, Sang Koog, Yoo, Myoung Woo, Lee, Ha Youn...","[7601587994, 35738330300, 56206010000, 5720673..."
11,"Lee, Jehyun",16029235100,Samsung Group,60010484,"[Makarov, Denys, Brombacher, Christoph, Dymers...","[12647134800, 24066478900, 39961295300, 700407..."
12,"Lee, Jehyun",16029235100,Seoul National University,60013682,"[Kim, Sang Koog, Yoo, Myoung Woo, Lee, Jae Hye...","[7601587994, 35738330300, 57206731799, 5719974..."
13,"Lee, Jehyun",16029235100,Technische Universität Wien,60018163,"[Makarov, Denys, Brombacher, Christoph, Dymers...","[12647134800, 24066478900, 39961295300, 700407..."
14,"Lee, Jehyun",55969873500,Korea Institute of Energy Research,60087822,"[Hong, Sung Jun, Chun, Hoje, Kim, Byung Hyun, ...","[57221590144, 57195466596, 55502655900, 572207..."

In [10]:
df_my.describe()

,my_name,my_id,my_afs,my_afids,co_names,co_ids
count,15,15,15,15,15,15
unique,5,7,7,8,14,14
top,"Lee, Jehyun",16029235100,Seoul National University,60013682,"[Suess, Dieter, Schrefl, Thomas, Kyu, Hwan Oh,...","[7004076065, 7005780657, 6602521869, 35601590600]"
freq,7,8,4,4,2,2

# my paper

In [11]:
# def get_scopus_info(SCOPUS_ID):
#     url = ("http://api.elsevier.com/content/abstract/scopus_id/"
#           + SCOPUS_ID
#           + "?field=authors,title,publicationName,volume,issueIdentifier,"
#           + "prism:pageRange,coverDate,article-number,doi,citedby-count,prism:aggregationType")
#     resp = requests.get(url,
#                     headers={'Accept':'application/json',
#                              'X-ELS-APIKey': APIKeys[-3]})
#     results = json.loads(resp.text.encode('utf-8'))
    
#     authors = ', '.join([au['ce:indexed-name'] for au in results['abstracts-retrieval-response']['authors']['author']])
#     title = results['abstracts-retrieval-response']['coredata']['dc:title']
#     pubtype = results['abstracts-retrieval-response']['coredata']['prism:aggregationType']
#     journal = results['abstracts-retrieval-response']['coredata']['prism:publicationName']
#     volume = results['abstracts-retrieval-response']['coredata']['prism:volume']
#     articlenum = (results['abstracts-retrieval-response']['coredata'].get('prism:pageRange') or
#                   results['abstracts-retrieval-response']['coredata'].get('article-number'))
#     date = results['abstracts-retrieval-response']['coredata']['prism:coverDate']
#     doi = 'doi:' + results['abstracts-retrieval-response']['coredata']['prism:doi']
#     cites = int(results['abstracts-retrieval-response']['coredata']['citedby-count'])
    
#     return pubtype, f'{authors}, {title}, {journal}, {volume}, {articlenum}, ({date}). {doi} (cited {cites} times).\n'

In [12]:
# jehyun
def get_scopus_info(SCOPUS_ID):
    url = ("http://api.elsevier.com/content/abstract/scopus_id/"
          + sid
          + "?field=authors,affiliations,title,publicationName,volume,issueIdentifier,"
          + "prism:pageRange,coverDate,article-number,doi,citedby-count,prism:aggregationType")
    resp = requests.get(url,
                    headers={'Accept':'application/json',
                             'X-ELS-APIKey': APIKeys[-3]})
    results = json.loads(resp.text.encode('utf-8'))
    
    # authors full name for check
    authors_full = [f"{au['ce:surname']}, {au['ce:given-name']}" for au in results['abstracts-retrieval-response']['authors']['author']]
    au_afs = [af["affiliation"] for af in results['abstracts-retrieval-response']["authors"]["author"]]
    afids = []
    for au_af in au_afs:
        if isinstance(au_af, list):
            afids.append([af['@id'] for af in au_af])
        elif isinstance(au_af, dict):
            afids.append([au_af['@id']])

    authors = ', '.join([au['ce:indexed-name'] for au in results['abstracts-retrieval-response']['authors']['author']])
    title = results['abstracts-retrieval-response']['coredata']['dc:title']
    pubtype = results['abstracts-retrieval-response']['coredata']['prism:aggregationType']
    journal = results['abstracts-retrieval-response']['coredata']['prism:publicationName']
    volume = results['abstracts-retrieval-response']['coredata']['prism:volume']
    articlenum = (results['abstracts-retrieval-response']['coredata'].get('prism:pageRange') or
                  results['abstracts-retrieval-response']['coredata'].get('article-number'))
    date = results['abstracts-retrieval-response']['coredata']['prism:coverDate']
    doi = 'doi:' + results['abstracts-retrieval-response']['coredata']['prism:doi']
    cites = int(results['abstracts-retrieval-response']['coredata']['citedby-count'])
    
    return pubtype, authors_full, afids, f'{authors}, {title}, {journal}, {volume}, {articlenum}, ({date}). {doi} (cited {cites} times).\n', results

In [13]:
df_my["my_scopusid"] = [[]] * df_my.shape[0]
df_my

,my_name,my_id,my_afs,my_afids,co_names,co_ids,my_scopusid
0,"Jehyun, Lee",15834698800,Seoul National University,60013682,"[Suess, Dieter, Schrefl, Thomas, Kyu, Hwan Oh,...","[7004076065, 7005780657, 6602521869, 35601590600]",[]
1,"Jehyun, Lee",15834698800,Technische Universität Wien,60018163,"[Suess, Dieter, Schrefl, Thomas, Kyu, Hwan Oh,...","[7004076065, 7005780657, 6602521869, 35601590600]",[]
2,"Lee, J.",16029235100,Technische Universität Wien,60018163,"[Fiedler, G., Fidler, J., Schrefl, T., Stamps,...","[15829081900, 35601590600, 7005780657, 7004916...",[]
3,"Lee, J.",24399437900,Technische Universität Wien,60018163,"[Schulze, C., Faustini, M., Schletter, H., Lut...","[35181915100, 57196395997, 36675826300, 350853...",[]
4,"Lee, J.",7601454858,Seoul National University,60013682,"[Neu, V., Schulze, C., Faustini, M., Makarov, ...","[6701391076, 35181915100, 57196395997, 1264713...",[]
5,"Lee, J. H.",7601451606,Seoul National University,60013682,"[Jang, S. H., Kim, Y. W., Kim, K. Y.]","[24821314300, 8099600200, 57203256286]",[]
6,"Lee, J. H.",7601462370,Korea Institute of Science and Technology,60025960,"[Jang, S. H., Kang, T., Kim, K. Y.]","[24821314300, 8953533300, 57203256286]",[]
7,"Lee, Je Hyun",16029235100,Korea Institute of Science and Technology,60025960,"[Kim, Dal Young, Kim, Jin Soo, Park, Bae Ho, L...","[7409765949, 55881881500, 7402834739, 56524680...",[]
8,"Lee, Jehyun",16029235100,Center of Semiconductor Research and Development,111165432,"[Kim, Sang Koog, Yoo, Myoung Woo, Lee, Jae Hye...","[7601587994, 35738330300, 57206731799, 5719974...",[]
9,"Lee, Jehyun",16029235100,Center of Semiconductor Research and Development,115225850,"[Kim, Bosung, Yoo, Myoung Woo, Kim, Sang Koog,...","[56621593100, 35738330300, 7601587994, 5620601...",[]
10,"Lee, Jehyun",16029235100,National Creative Research Initiative Center f...,107172817,"[Kim, Sang Koog, Yoo, Myoung Woo, Lee, Ha Youn...","[7601587994, 35738330300, 56206010000, 5720673...",[]
11,"Lee, Jehyun",16029235100,Samsung Group,60010484,"[Makarov, Denys, Brombacher, Christoph, Dymers...","[12647134800, 24066478900, 39961295300, 700407...",[]
12,"Lee, Jehyun",16029235100,Seoul National University,60013682,"[Kim, Sang Koog, Yoo, Myoung Woo, Lee, Jae Hye...","[7601587994, 35738330300, 57206731799, 5719974...",[]
13,"Lee, Jehyun",16029235100,Technische Universität Wien,60018163,"[Makarov, Denys, Brombacher, Christoph, Dymers...","[12647134800, 24066478900, 39961295300, 700407...",[]
14,"Lee, Jehyun",55969873500,Korea Institute of Energy Research,60087822,"[Hong, Sung Jun, Chun, Hoje, Kim, Byung Hyun, ...","[57221590144, 57195466596, 55502655900, 572207...",[]

In [27]:
my_name_vs = df_my["my_name"].values
my_id_vs = df_my["my_id"].values
my_afids_vs = df_my["my_afids"].values

pub_no = 0
pubs = []

In [28]:
%%time

for i, (my_name, my_id, my_afid) in enumerate(zip(my_name_vs, my_id_vs, my_afids_vs)):
    # retrieve Scopus IDs
    print(f"# {i}")
    scopus_ids_valid = []
    author_pubs_ = requests.get(f"http://api.elsevier.com/content/search/scopus?query=AU-ID({my_id})&field=dc:identifier&count=200",
                                   headers={'Accept':'application/json',
                                            'X-ELS-APIKey': APIKeys[-3]})
    author_pubs = author_pubs_.json()
    scopus_ids = [p['dc:identifier'] for p in author_pubs['search-results']["entry"]]

    # retrieve valid articles
    for sid in scopus_ids:
        try:
            pub_type, authors_full, afids, pub_info, results = get_scopus_info(sid)
            for my_name in my_names:
                flag_chk = len(np.where(my_name == np.array(authors_full))[0])
                if flag_chk > 0:
                    print(f"my_name = {my_name}")
                    break
            
            name_idx = np.where(my_name == np.array(authors_full))[0][0]
            name_afid = afids[name_idx]
            if (my_afid in name_afid) and (pub_type == 'Journal'):
                scopus_ids_valid.append(sid)
                pubs.append(f"{pub_info}")
                pub_no += 1
                print(pub_info)
        except:
            pass

print(pub_no)

# 0
my_name = Jehyun, Lee
Jehyun L., Suess D., Schrefl T., Kyu H.O., Fidler J., Contribution of local incoherency on Gilbert-damping, IEEE Transactions on Magnetics, 42, 3210-3212, (2006-10-01). doi:10.1109/TMAG.2006.880565 (cited 3 times).

# 1
my_name = Jehyun, Lee
Jehyun L., Suess D., Schrefl T., Kyu H.O., Fidler J., Contribution of local incoherency on Gilbert-damping, IEEE Transactions on Magnetics, 42, 3210-3212, (2006-10-01). doi:10.1109/TMAG.2006.880565 (cited 3 times).

# 2

KeyError: 'search-results'

In [38]:
i = 2
my_name = my_name_vs[i]
my_id = my_id_vs[i]
my_afids = my_afids_vs[i]

author_pubs_ = requests.get(f"http://api.elsevier.com/content/search/scopus?query=AU-ID({my_id})&field=dc:identifier&count=200",
                               headers={'Accept':'application/json',
                                        'X-ELS-APIKey': APIKeys[-3]})
author_pubs = author_pubs_.json()
scopus_ids = [p['dc:identifier'] for p in author_pubs['search-results']["entry"]]


for sid in scopus_ids:
    pub_type, authors_full, afids, pub_info, results = get_scopus_info(sid)
    for my_name in my_names:
        flag_chk = len(np.where(my_name == np.array(authors_full))[0])
        if flag_chk > 0:
            print(f"my_name = {my_name}")
            break

    name_idx = np.where(my_name == np.array(authors_full))[0][0]
    name_afid = afids[name_idx]
    if (my_afid in name_afid) and (pub_type == 'Journal'):
        scopus_ids_valid.append(sid)
        pubs.append(f"{pub_info}")
        pub_no += 1
        print(pub_info)

my_name = Lee, Jehyun

KeyError: 'affiliation'

In [25]:
i = 2
my_name = my_names[i]
my_id = my_ids[i]
my_afid = my_afids[i]
print(my_name, my_id, my_afid)

Lee, J. 16029235100 60018163

In [17]:
author_pubs_ = requests.get(f"http://api.elsevier.com/content/search/scopus?query=AU-ID({my_id})&field=dc:identifier&count=200",
                               headers={'Accept':'application/json',
                                        'X-ELS-APIKey': APIKeys[-3]})
author_pubs = author_pubs_.json()
scopus_ids = [p['dc:identifier'] for p in author_pubs['search-results']["entry"]]

In [21]:
authors_full

['Lee, Jehyun', 'Oh, Kyuhwan', 'Kim, Hi-Jung', 'Kim, Kwang Youn']

In [23]:
my_name

'Lee, J.'

In [22]:
for i, sid in enumerate(scopus_ids):
    try:
        pub_type, authors_full, afids, pub_info, results = get_scopus_info(sid)
        print(f"# {i+1}\n {authors_full}")
    except:
        pass

# 1
 ['Kim, Sang-Koog', 'Yoo, Myoung-Woo', 'Lee, Jehyun', 'Lee, Jae-Hyeok', 'Kim, Min-Kwan']
# 3
 ['Kim, Sang-Koog', 'Yoo, Myoung-Woo', 'Lee, Jehyun', 'Lee, Ha-Youn', 'Lee, Jae-Hyeok', 'Gaididei, Yuri', 'Kravchuk, Volodymyr P.', 'Sheka, Denis D.']
# 4
 ['Kim, Bosung', 'Yoo, Myoung-Woo', 'Lee, Jehyun', 'Kim, Sang-Koog']
# 5
 ['Kim, Min-Kwan', 'Dhak, Prasanta', 'Lee, Ha-Youn', 'Lee, Jae-Hyeok', 'Yoo, Myoung-Woo', 'Lee, Jehyun', 'Jin, Kyoungsuk', 'Chu, Arim', 'Nam, Ki Tae', 'Park, Hyun Soon', 'Aizawa, Shinji', 'Tanigaki, Toshiaki', 'Shindo, Daisuke', 'Kim, Miyoung', 'Kim, Sang-Koog']
# 6
 ['Lee, Jehyun', 'Makarov, Denys', 'Brombacher, Christoph', 'Dymerska, Barbara', 'Suess, Dieter', 'Albrecht, Manfred', 'Fidler, Josef']
# 7
 ['Streubel, Robert', 'Lee, Jehyun', 'Makarov, Denys', 'Im, Mi-Young', 'Karnaushenko, Daniil', 'Han, Luyang', 'Schäfer, Rudolf', 'Fischer, Peter', 'Kim, Sang-Koog', 'Schmidt, Oliver G.']
# 8
 ['Kang, Young-Min', 'Lee, Jehyun', 'Kang, Young Jae', 'Park, Jong-Bong', 'Kim, Sang Il', 'Lee, Sang Mock', 'Ahn, Kyunghan']
# 9
 ['Streubel, Robert', 'Makarov, Denys', 'Lee, Jehyun', 'Müller, Christian', 'Melzer, Michael', 'Schäfer, Rudolf', 'Bufon, Carlos Cesar B. O. F.', 'Kim, Sang-Koog', 'Schmidt, Oliver G.']
# 10
 ['Lee, Jehyun', 'Dymerska, Barbara', 'Fidler, Josef', 'Alexandrakis, Vasilis', 'Speliotis, Thanassis', 'Niarchos, Dimitris', 'Pongratz, Peter', 'Suess, Dieter']
# 11
 ['Yu, Young-Sang', 'Han, Dong-Soo', 'Yoo, Myoung-Woo', 'Lee, Ki-Suk', 'Choi, Youn-Seok', 'Jung, Hyunsung', 'Lee, Jehyun', 'Im, Mi-Young', 'Fischer, Peter', 'Kim, Sang-Koog']
# 12
 ['Dymerska, Barbara', 'Lee, Jehyun', 'Fidler, Josef', 'Suess, Dieter']
# 14
 ['Yoo, Myoung-Woo', 'Lee, Jehyun', 'Kim, Sang-Koog']
# 17
 ['Lee, Jehyun', 'Brombacher, Christoph', 'Fidler, Josef', 'Dymerska, Barbara', 'Suess, Dieter', 'Albrecht, Manfred']
# 18
 ['Lee, Jehyun', 'Alexandrakis, Vasilis', 'Fuger, Markus', 'Dymerska, Barbara', 'Suess, Dieter', 'Niarchos, Dimitris', 'Fidler, Josef']
# 20
 ['Lee, Jehyun', 'Fuger, Markus', 'Fidler, Josef', 'Suess, Dieter', 'Schrefl, Thomas', 'Shimizu, Osamu']
# 23
 ['Lee, Jehyun', 'Uhrmann, Thomas', 'Dimopoulos, Theodoros', 'Brückl, Hubert', 'Fidler, Josef']
# 26
 ['Lee, Jehyun', 'Suess, Dieter', 'Schrefl, Thomas', 'Dean, Julian', 'Fidler, Josef']
# 27
 ['Lee, Jehyun', 'Suess, Dieter', 'Schrefl, Thomas', 'Oh, Kyu Hwan', 'Fidler, Josef']
# 29
 ['Lee, Jehyun', 'Suess, Dieter', 'Schrefl, Thomas', 'Yu, Eu Sun', 'Lee, You Sub', 'Oh, Kyu Hwan', 'Fidler, Josef']
# 30
 ['Kim, Ji Woo', 'Friedrichs, Oliver', 'Ahn, Jae-Pyoung', 'Kim, Do Hyun', 'Kim, Seul Cham', 'Remhof, Arndt', 'Chung, Hee-Suk', 'Lee, Jehyun', 'Shim, Jae-Hyeok', 'Cho, Young Whan', 'Züttel, Andreas', 'Oh, Kyu Hwan']
# 33
 ['Lee, Jehyun', 'Suess, Dieter', 'Schrefl, Thomas', 'Oh, Kyu Hwan', 'Fidler, Josef']
# 34
 ['Lee, Jehyun', 'Suess, Dieter', 'Fidler, Josef', 'Schrefl, Thomas', 'Hwan Oh, Kyu']
# 36
 ['Lee, Jehyun', 'Suess, Dieter', 'Schrefl, Thomas', 'Oh, Kyu Hwan', 'Fidler, Josef']
# 39
 ['Ha, Hyekyung', 'Lee, Young-Sun', 'Lee, Je Hyun', 'Choi, Hwansoo', 'Kim, Chungsook']
# 40
 ['Kim, Dal-Young', 'Kim, Jin Soo', 'Park, Bae Ho', 'Lee, Jeon-Kook', 'Kim, Jang Hee', 'Lee, Je Hyun', 'Chang, Joonyeon', 'Kim, Hi-Jung', 'Kim, Inyoung', 'Park, Yun D.']
# 41
 ['Lee, Jehyun', 'Oh, Kyuhwan', 'Kim, Hi-Jung', 'Kim, Kwang Youn']

In [238]:
for my_name, my_id, my_afid in zip(my_names[-10:], my_ids[-10:], my_afids[-10:]):
    print(my_name, my_id, my_afid)
    name_idx = np.where(my_name == np.array(authors_full))[0][0]
    name_afid = afids[name_idx]
    print(f"name_idx={name_idx}, afids={afids}")
    print((my_afid in name_afid) and (pub_type == 'Journal'))
    if (my_afid in name_afid) and (pub_type == 'Journal'):
        pubs.append(f"{pub_info}")
        pub_no += 1

Lee, J. H. 7601451606 60013682

IndexError: index 0 is out of bounds for axis 0 with size 0

In [234]:
pubs

['Park H.-K., Lee J.-H., Lee J., Kim S.-K., Optimizing machine learning models for granular NdFeB magnets by very fast simulated annealing, Scientific Reports, 11, 3792, (2021-12-01). doi:10.1038/s41598-021-83315-9 (cited 2 times).\n']

In [230]:
for my_name, my_id, my_afid in zip(my_names, my_ids, my_afids):
    print(my_name, my_id, my_afid)

Jehyun, Lee 15834698800 60013682
Jehyun, Lee 15834698800 60018163
Lee, J. 16029235100 60018163
Lee, J. 24399437900 60018163
Lee, J. 7601454858 60013682
Lee, J. H. 7601451606 60013682
Lee, J. H. 7601462370 60025960
Lee, Je Hyun 16029235100 60025960
Lee, Jehyun 16029235100 111165432
Lee, Jehyun 16029235100 115225850
Lee, Jehyun 16029235100 107172817
Lee, Jehyun 16029235100 60010484
Lee, Jehyun 16029235100 60013682
Lee, Jehyun 16029235100 60018163
Lee, Jehyun 55969873500 60087822

In [199]:
sid = scopus_ids[1]
pub_type, authors_full, afids, pub_info, results = get_scopus_info(sid)
print(authors_full, afids)

['Park, Hyeon-Kyu', 'Lee, Jae-Hyeok', 'Lee, Jehyun', 'Kim, Sang-Koog'] [['60013682'], ['60013682'], ['60087822'], ['60013682']]

In [202]:
my_name = my_names[-1]
my_id = my_ids[-1]
my_afid = my_afids[-1]
print(my_name, my_id, my_afid)

Lee, Jehyun 55969873500 60087822

In [204]:
name_idx = np.where(my_name == np.array(authors_full))[0][0]
name_afid = afids[name_idx]
name_afid

['60087822']

In [207]:
(my_afid in name_afid) and (pub_type == 'Journal')

True

In [209]:
scopus_ids[1]

'SCOPUS_ID:85100912756'

In [136]:
author_pubs_ = requests.get(f"http://api.elsevier.com/content/search/scopus?query=AU-ID({my_id})&field=dc:identifier&count=200",
                               headers={'Accept':'application/json',
                                        'X-ELS-APIKey': APIKeys[-3]})
author_pubs = author_pubs_.json()
scopus_ids = [p['dc:identifier'] for p in author_pubs['search-results']["entry"]]
# firstauthor = author_pubs["search-results"]["link"][0]['@_fa']
# print(firstauthor)

In [138]:
sid = scopus_ids[0]
sid

'SCOPUS_ID:85113274970'

In [139]:
url = ("http://api.elsevier.com/content/abstract/scopus_id/"
      + sid
      + "?field=authors,affiliations,title,publicationName,volume,issueIdentifier,"
#       + "?field=authors,title,publicationName,volume,issueIdentifier,"
      + "prism:pageRange,coverDate,article-number,doi,citedby-count,prism:aggregationType")
resp = requests.get(url,
                headers={'Accept':'application/json',
                         'X-ELS-APIKey': APIKeys[-3]})
results = json.loads(resp.text.encode('utf-8'))

In [145]:
au = authors[0]
name_first = au['ce:given-name']
name_family = au['ce:surname']
name_full = f"{name_family}, {name_first}"
name_full

'Bor, Amgalan'

In [149]:
au["affiliation"]

{'@id': '60012178',
 '@href': 'https://api.elsevier.com/content/affiliation/affiliation_id/60012178'}

In [151]:
authors = results['abstracts-retrieval-response']["authors"]["author"]
for i, au in enumerate(authors):
    name_first = au['ce:given-name']
    name_family = au['ce:surname']
    name_full = f"{name_family}, {name_first}"
    if isinstance(au["affiliation"], list):
        afids = [af['@id'] for af in au["affiliation"]]
    elif isinstance(au["affiliation"], dict):
        afids = [au["affiliation"]['@id']]
    
    if my_afid in afids:
        print("ok!")

In [132]:
[af['@id'] for af in authors[0]["affiliation"]]

['60018163', '60013682']

In [129]:
authors[0]

{'ce:given-name': 'Lee',
 'preferred-name': {'ce:given-name': 'Lee',
  'ce:initials': 'L.',
  'ce:surname': 'Jehyun',
  'ce:indexed-name': 'Jehyun L.'},
 '@seq': '1',
 'ce:initials': 'L.',
 '@_fa': 'true',
 'affiliation': [{'@id': '60018163',
   '@href': 'https://api.elsevier.com/content/affiliation/affiliation_id/60018163'},
  {'@id': '60013682',
   '@href': 'https://api.elsevier.com/content/affiliation/affiliation_id/60013682'}],
 'ce:surname': 'Jehyun',
 '@auid': '15834698800',
 'author-url': 'https://api.elsevier.com/content/author/author_id/15834698800',
 'ce:indexed-name': 'Jehyun L.'}

In [127]:
name_first = authors[0]['ce:given-name']
name_family = authors[0]['ce:surname']
name_full = f"{name_family}, {name_first}"

{'ce:given-name': 'Lee',
 'preferred-name': {'ce:given-name': 'Lee',
  'ce:initials': 'L.',
  'ce:surname': 'Jehyun',
  'ce:indexed-name': 'Jehyun L.'},
 '@seq': '1',
 'ce:initials': 'L.',
 '@_fa': 'true',
 'affiliation': [{'@id': '60018163',
   '@href': 'https://api.elsevier.com/content/affiliation/affiliation_id/60018163'},
  {'@id': '60013682',
   '@href': 'https://api.elsevier.com/content/affiliation/affiliation_id/60013682'}],
 'ce:surname': 'Jehyun',
 '@auid': '15834698800',
 'author-url': 'https://api.elsevier.com/content/author/author_id/15834698800',
 'ce:indexed-name': 'Jehyun L.'}

In [91]:
pub_no = 0
pubs = []
for sid in scopus_ids:
    try:
        pub_type, pub_info = get_scopus_info(sid)
        if pub_type == 'Journal':
            pubs.append(f"{pub_info}")
            pub_no += 1
    except:
        pass

print(pub_no)

1

In [92]:
pubs[0]

'Jehyun L., Suess D., Schrefl T., Kyu H.O., Fidler J., Contribution of local incoherency on Gilbert-damping, IEEE Transactions on Magnetics, 42, 3210-3212, (2006-10-01). doi:10.1109/TMAG.2006.880565 (cited 3 times).\n'

In [14]:
dois = df_CV["DOI"].values

for i, doi in enumerate(dois):
    s = ScopusSearch(f"DOI ({doi})").results[0]

array(['10.1021/acs.jpclett.1c01140', '10.1038/s41598-021-83315-9',
       '10.1038/srep31513', '10.1063/1.4919836', '10.1038/srep12659',
       '10.1063/1.4903741', '10.1002/adma.201303003',
       '10.1088/0957-4484/25/4/045604', '10.1142/S2010324713400018',
       '10.1088/0957-4484/24/14/145702', '10.1038/srep01301',
       '10.1002/pssa.201228731', '10.1063/1.4821821', '10.1063/1.4712033',
       '10.1063/1.4705690', '10.1088/0022-3727/45/49/495001',
       '10.1088/0957-4484/23/2/025301', '10.1103/PhysRevB.84.224421',
       '10.1063/1.3623752', '10.1063/1.3595307', '10.1063/1.3556773',
       '10.1088/0957-4484/21/49/495701', '10.1063/1.3460639',
       '10.1016/j.jmmm.2010.08.010', '10.1063/1.3372611',
       '10.1109/TMAG.2010.2040594', '10.1109/TMAG.2010.2040714',
       '10.1063/1.3275925', '10.1063/1.3257364', '10.1063/1.3152293',
       '10.1109/TMAG.2008.2002859', '10.1016/j.scriptamat.2009.01.031',
       '10.1109/TMAG.2009.2018949', '10.1088/0022-3727/42/4/045005',
       '10.1007/s10948-018-4953-8', '10.1063/1.2833302',
       '10.1063/1.2710748', '10.1016/j.jmmm.2007.04.019',
       '10.1103/PhysRevB.75.174430', '10.1109/TMAG.2006.880565',
       '10.1063/1.2126124', '10.1016/j.jmmm.2003.12.624',
       '10.1016/j.jmmm.2003.12.707', '10.1063/1.1763638'], dtype=object)

In [27]:
# author id of "Jehyun Lee"
author_id = "55969873500"

author_r = requests.get(f"http://api.elsevier.com/content/author?author_id={author_id}&view=metrics",
                        headers={'Accept':'application/json', 'X-ELS-APIKey': APIKeys[-2]})
author_data = eval(json.dumps(author_r.json(), sort_keys=True, indent=4, separators=(',', ': ')))

h_index = author_data['author-retrieval-response'][0]["h-index"]
citedby_count_total = author_data['author-retrieval-response'][0]["coredata"]['cited-by-count']
document_count_total = author_data['author-retrieval-response'][0]["coredata"]['document-count']

print(h_index, citedby_count_total, document_count_total)

In [33]:
title = "First-Principles-Based Machine-Learning Molecular Dynamics for Crystalline Polymers with van der Waals interactions"
s_sample = ScopusSearch(f"TITLE ({title})").results[0]
list(zip(s_sample.author_names.split(";"), s_sample.author_ids.split(";")))

[('Hong, Sung Jun', '57221590144'),
 ('Chun, Hoje', '57195466596'),
 ('Lee, Jehyun', '55969873500'),
 ('Kim, Byung Hyun', '55502655900'),
 ('Seo, Min Ho', '57220796436'),
 ('Kang, Joonhee', '56076915900'),
 ('Han, Byungchan', '10639592000')]

In [34]:
title = "Resonantly excited precession motion of three-dimensional vortex core in magnetic nanospheres"
s_sample = ScopusSearch(f"TITLE ({title})").results[0]
list(zip(s_sample.author_names.split(";"), s_sample.author_ids.split(";")))

[('Kim, Sang Koog', '7601587994'),
 ('Yoo, Myoung Woo', '35738330300'),
 ('Lee, Jehyun', '16029235100'),
 ('Lee, Ha Youn', '56206010000'),
 ('Lee, Jae Hyeok', '57206731799'),
 ('Gaididei, Yuri', '7005459050'),
 ('Kravchuk, Volodymyr P.', '15757587900'),
 ('Sheka, Denis D.', '6701719591')]

In [ ]:
author_pubs_ = requests.get(f"http://api.elsevier.com/content/search/scopus?query=AU-ID({author_id})&field=dc:identifier&count=100",
                               headers={'Accept':'application/json',
                                        'X-ELS-APIKey': APIKeys[-3]})
author_pubs = author_pubs_.json()
scopus_ids = [p['dc:identifier'] for p in author_pubs['search-results']["entry"]]

In [18]:
len(author_pubs['search-results']["entry"])

100

In [19]:
def get_scopus_info(SCOPUS_ID):
    url = ("http://api.elsevier.com/content/abstract/scopus_id/"
          + SCOPUS_ID
          + "?field=authors,title,publicationName,volume,issueIdentifier,"
          + "prism:pageRange,coverDate,article-number,doi,citedby-count,prism:aggregationType")
    resp = requests.get(url,
                    headers={'Accept':'application/json',
                             'X-ELS-APIKey': APIKeys[-3]})
    results = json.loads(resp.text.encode('utf-8'))
    
    authors = ', '.join([au['ce:indexed-name'] for au in results['abstracts-retrieval-response']['authors']['author']])
    title = results['abstracts-retrieval-response']['coredata']['dc:title']
    pubtype = results['abstracts-retrieval-response']['coredata']['prism:aggregationType']
    journal = results['abstracts-retrieval-response']['coredata']['prism:publicationName']
    volume = results['abstracts-retrieval-response']['coredata']['prism:volume']
    articlenum = (results['abstracts-retrieval-response']['coredata'].get('prism:pageRange') or
                  results['abstracts-retrieval-response']['coredata'].get('article-number'))
    date = results['abstracts-retrieval-response']['coredata']['prism:coverDate']
    doi = 'doi:' + results['abstracts-retrieval-response']['coredata']['prism:doi']
    cites = int(results['abstracts-retrieval-response']['coredata']['citedby-count'])
    
    return pubtype, f'{authors}, {title}, {journal}, {volume}, {articlenum}, ({date}). {doi} (cited {cites} times).\n'

In [20]:
pub_no = 1
pubs = []
for sid in scopus_ids:
    try:
        pub_type, pub_info = get_scopus_info(sid)
        if pub_type == 'Journal':
            pubs.append(f"{pub_info}")
            pub_no += 1
    except:
        pass

print(pub_no)

94

In [24]:
# export to .docx file
document = Document()
document.add_heading(f"Jehyun Lee({len(pubs)} publications)\n")

for pub in pubs:
    document.add_paragraph(f'{pub}', style='List Number')
document.save(f'my_CV.docx')